<!doctype html>
<html lang="{{ site:short_locale }}" class="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ partial:meta }}
        {{ vite src="resources/css/site.css" }}
    </head>
    <body class="font-base leading-normal bg-light text-primary-shade flex flex-col min-h-screen" :class="[popup ? 'overflow-y-hidden fixed' : '']" 
    x-data="{ popup: false }" 
    x-init="$watch('popup', (value) => {
        if (value) {
            $refs.video.play()
        } else {
            $refs.video.pause()
        }
    })">
        {{ partial:site_head }}
        <main class="container-wrapper flow-y flow-space-xl grow w-screen">
            {{ template_content }}
        </main>
        {{ partial:site_foot }}
        {{ vite src="resources/js/site.js" }}
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        {{ if live_preview }}
            <script>
                window.addEventListener('message', async (event) => {
                    if (event.data.name === 'statamic.preview.updated') {
                        const text = await fetch(event.data.url).then((res) => res.text());
                        const updated = new DOMParser().parseFromString(text, 'text/html');
                        Alpine.morph(document.body, updated.body);
                    }
                });
            </script>
        {{ /if }}
    </body>
</html>
