<header class="bg-light-glare font-heading tracking-wide" x-data="{ menuIsOpen: false }">
    <div class="container-wrapper flex items-center h-750 text-light-glare bg-primary-shade text-xs">
        <ul class="flex items-center divide-x divide-light-glare/10 h-full">
            <li class="h-full flex items-cente pr-100"><a class="flex items-center gap-[.5em] hover:text-primary-glare transition-colors" href="tel:{{ site_settings:phone }}">{{ svg src="phone" class="h-[1em]" }}<span>{{ site_settings:phone }}</span></a></li>
            <li class="h-full flex items-cente pl-100"><a class="flex items-center gap-[.5em] hover:text-primary-glare transition-colors" href="mailto:{{ site_settings:email }}">{{ svg src="email" class="h-[1em]" }}<span>{{ site_settings:email }}</span></a></li>
        </ul>
        {{ partial:components/socialmedia color="light" class="ml-auto" }}
    </div>
    <div class="container-wrapper min-h-[var(--size-lg)] flex items-center justify-between gap-gutter">
        <nav class="hidden md:block relative w-full" role="Desktop main navigation">
            <menu class="flex items-center gap-700 font-semibold">
                {{ nav:main_menu }}
                    <li class="{{ last ?= 'mr-[var(--logo-width)]' }}"><a class="{{ is_current || is_parent ?= 'text-primary-glare' }}" href="{{ url }}">{{ title }}</a></li>
                {{ /nav:main_menu }}
                <li class="absolute -translate-x-[50%] w-[var(--logo-width)] left-1/2 -translate-y-[20%] after:absolute after:top-0 after:left-1/2 after:-translate-x-[50%] after:-translate-y-[23%] after:rounded-full after:bg-light-glare after:w-[70%] after:aspect-square">
                    <a class="grid place-items-center h-full" href="/">
                        {{ svg src="logo" width="auto" height="auto" class="relative h-full z-10" }}
                    </a>
                </li>
                {{ nav:main_menu_right }}
                    <li class="{{ first ?= 'ml-auto' }}" ><a class="{{ is_current || is_parent ?= 'text-primary-glare' }}" href="{{ url }}">{{ title }}</a></li>
                {{ /nav:main_menu_right }}
            </menu>
        </nav>
        <a class="h-900 md:hidden " href="/">
            {{ svg src="logo" width="auto" height="auto" class="h-full " }}
        </a>
        <button aria-label="Primære navigation knap" type="button" class="site-head__dropdown-nav shrink-0 md:hidden relative z-[99]" :class="menuIsOpen ? 'is-open' : ''" @click="menuIsOpen = !menuIsOpen" @keydown.escape="isOpen = false"></button>
        <div class="fixed inset-0 bg-light z-[80] flex justify-center pt-800" 
        x-cloak 
        x-show="menuIsOpen"
        x-transition:enter="transition ease-out duration-100"
        x-transition:enter-start="opacity-0 -translate-y-400"
        x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="transition ease-in duration-100"
        x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 -translate-y-400"
    >
        {{ partial:main_nav_mobil }}
    </div>
    </div>
   
   
   

</header>