<div class="bg-light-shade {{ full_width ?= 'full-bleed' }} py-900">
  
    <div class="container-wrapper">
        {{ partial:components/section_heading class="prose-h2:text-700 prose-h2:max-w-[30ch] prose-p:max-w-[85ch]" }}
        {{ form:create :in="form_picker" class="grid grid-cols-12 gap-y-2 gap-x-400 !text-inherit" :redirect="site_settings:contact_thanks_page_redirect" }}
            {{ if (form:errors) }}
                <p>Der var desværre noget der gik forkert:</p>
                <ul>
                    {{ form:errors }}
                        <li>{{ value }}</li>
                    {{ /form:errors }}
                </ul>
            {{ /if }}
            {{ fields }}
                <div class="col-span-12 {{ width == '25' ?= 'md:col-span-3' }}{{ width == '33' ?= 'md:col-span-4' }}{{ width == '50' ?= 'md:col-span-6' }}{{ width == '66' ?= 'md:col-span-8' }}{{ width == '75' ?= 'md:col-span-9' }}{{ width == '100' ?= 'md:col-span-12' }}">
                    <label class="leading-none">
                        {{ display }} 
                        {{ if validate | contains:required }}
                            <sup class="text-[1em] -top-[.2em]">*</sup>
                        {{ /if }}
                    </label>
                    <div class="py-1 w-full">{{ field }}</div>
                    {{ if error }}
                        <p class="text-gray-500">{{ error }}</p>
                    {{ /if }}
                </div>
            {{ /fields }}
            <div class="col-span-12">
                {{ partial:components/btn as="button" link_type="solid" color="dark" linkText="Send forespørgsel" class="cursor-pointer rounded-lg text-sm" }}
            </div>
            <input type="text" name="adresse" class="hidden" />
        {{ /form:create }}
    </div>
</div>