<section class="relative grid grid-cols-1 md:grid-cols-[1.2fr,1fr] gap-lg items-center mt-lg text-center md:text-left" aria-label="{{ intro_text | raw | bard_items | where:type:heading | first | bard_text }}">
    <div class="@container animaa shrink-0 relative z-10 prose-h1:text-[10.5cqi] prose-h1:max-w-[25ch] prose-p:max-w-[55ch] prose-p:text-primary-shade/80 prose-p:text-350 flow-y flow-space-600 flex flex-col items-center md:items-start md:order-2">
        {{ intro_text }}
        <div class="flex gap-100 flex-wrap flow-space-700">
            {{ intro_links }}
                {{ typee = switch(
                    (url | ends_with('mp4')) => "button",
                    () => "a"
                )}}
                {{ partial:components/btn :as="typee" :linkUrl="url" :linkText="text" xData="popup = true, $nextTick(() => $refs.popupCloseButton.focus()), data.video = '{{ url }}'" }}
            {{ /intro_links }}
        </div>
    </div>
    {{ if intro_media }}
        <div class="relative aspect-square sm:aspect-auto anima sm:min-h-[28rem] lg:aspect-square h-full mr-gutter md:mr-0 after:w-[38%] after:h-[38%] after:bg-primary-glare after:absolute after:-right-gutter after:-bottom-gutter after:z-10 after:rounded-tl-large after:rounded-br-large after:animate-scale">
            <video loop="loop" muted loop="loop" preload="auto" playsinline autoplay class="relative rounded-tr-[var(--size-xl)] rounded-bl-[var(--size-xl)] w-full h-full object-cover"><source src="{{ intro_media }}" type="video/mp4"></video>
        </div>
    {{ endif }}
</section>

